html{
	height: 100%;
}

body{
	font-family: "Libre Franklin", sans-serif;
	margin: 0;
	display: block;
	max-height: 100%;
	width: 100%;
	height: 100%;
	background: #FBFBFF;
}

.header{
	background: #2B2743;
	height: 80px;
	left: 0;
	right: 0;
	border-bottom: 1px solid rgba(221, 216, 255, 0.2);
	display: flex;
	align-items: center;
}

.logo{
	display: block;
	margin-left: 88px;
	transition: .25s;
}

.logo:hover{
	transform:translateY(-2px);
}

.navigation{
	position: absolute;
	right: 0;
	margin-right: 120px;
}

.navigation-element{
	float: left;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
}

.tag-picker{
	background: #2B2743;
	padding: 32px 120px 32px 120px;
}

.header-caps{
	padding-left: 6px;
	line-height: 22px;
	font-size: 14px;
	margin: 0;
	color: #FF7760;
	font-weight: 600;
	text-transform: uppercase;
}

.instructions{
	padding-left: 6px;
	padding-bottom: 8px;
	margin: 0;
	text-align: left;
	color: #fff;
	line-height: 24px;
	font-size: 18px;
}

.suggestions{
	display: inline-block;
}

button{
	font-family: "Libre Franklin";
	font-weight: 600;
	font-size: 14px;
	background: #847FA1;
	color: #2B2743;
	border-radius: 6px;
	padding: 14px 20px 14px 20px;
	border: none;
	margin: 4px 4px 4px 4px;
	transition: .1s;
}

.buttonActive{
	opacity: 1;
	background: #FF775F;
	color: #fff;
}

.buttonActive:hover{
	background: #FF775F;
}

button:hover{
	background: #9f9bb5;
	transform: translateY(-2px);
}

button:focus{
	outline:0;
	margin: -2px 4px 0px 4px;
}

button:active{
	transform: translateY(1px);
	margin: -2px 4px 0px 4px;
}

.results-background{
	background: #FBFBFF;
	border-bottom: 1px solid rgba(221, 216, 255, 0.2);
}

.results{
	margin: 36px 112px 36px 112px;
}

.boldtext{
	padding-top: 12px;
	padding-bottom: 0px;
	padding-left: 12px;
	color: #2B2743;
	font-size: 14px;
	font-weight: 600;
}

.card.clear {
  clear: both;
}

.card{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width:27%;
	margin: 10px;
	background: #fff;
	padding: 16px 20px 16px 20px;
	border-radius: 8px;
	border: 1px solid #DDD8FF;
	color: #333;
	font-size: 20px;
	transition: .2s;
}

.card:hover{
	transform: translateY(-4px);
	padding: 20px 24px 20px 24px;
	margin: 6px;
	border-radius: 12px;
}

.circle{
	background: #33FF33;
	width: 12px;
	height: 12px;
	border-radius: 16px;
	display: inline;
}

.eyes{
	transition: .2s;
}

.topsection{
	margin-top: 36px;
	background: #FFFFFF;
	border-radius: 8px 8px 0 0;
	padding: 12px 40px 12px 40px;
	max-width: 500px;
}

.instructions-primary{
		opacity: 90%;
		font-size: 20px;
}

.instructions-secondary{
		opacity: 50%;
		margin-top: -12px;
		margin-bottom: 0px;
		font-size: 14px;
		font-weight: 400;
}

.fontbot{
	position: absolute;
	width: 360px;
	margin-bottom: -20px;
	margin-left: 0;
	cursor: -webkit-grabbing;
	cursor: grabbing;
	bottom: 0;
	-webkit-transition: .25s;
	-o-transition: .25s;
	transition: .25s;
	opacity: .95;
}

.fontbot:hover{
	margin-bottom: 0px;
	opacity: 1;
}

#face-smile{
d: path("M150,150.3 C157.440006,150.3        167.240006,150.3 179.4,150.3     C191.559994,150.3 201.959994,150.3 210.6,150.3");
}

.smile{
	-webkit-animation-name: smile;
	        animation-name: smile;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

@-webkit-keyframes smile {

	0% {
		d: path("M150,150.3 C157.440006,150.3        167.240006,150.3 179.4,150.3     C191.559994,150.3 201.959994,150.3 210.6,150.3");
	}

	5% {
     d: path("M164,150.3 C162.506673,161.433333 171.820267,167 180,167 C188.179733,167 197.693327,161.433333 196.6,150.3");
  }

	95% {
		 d: path("M164,150.3 C162.506673,161.433333 171.820267,167 180,167 C188.179733,167 197.693327,161.433333 196.6,150.3");
	}

	100% {
		d: path("M150,150.3 C157.440006,150.3        167.240006,150.3 179.4,150.3     C191.559994,150.3 201.959994,150.3 210.6,150.3");
	}

}

@keyframes smile {

	0% {
		d: path("M150,150.3 C157.440006,150.3        167.240006,150.3 179.4,150.3     C191.559994,150.3 201.959994,150.3 210.6,150.3");
	}

	5% {
     d: path("M164,150.3 C162.506673,161.433333 171.820267,167 180,167 C188.179733,167 197.693327,161.433333 196.6,150.3");
  }

	95% {
		 d: path("M164,150.3 C162.506673,161.433333 171.820267,167 180,167 C188.179733,167 197.693327,161.433333 196.6,150.3");
	}

	100% {
		d: path("M150,150.3 C157.440006,150.3        167.240006,150.3 179.4,150.3     C191.559994,150.3 201.959994,150.3 210.6,150.3");
	}

}

.fontcard{
	background: #FFFFFF;
	border-radius: 0 0 8px 8px;
	padding: 36px 40px 36px 40px;
	max-width: 500px;
	margin-bottom: 20px;
	max-height: 400px;
	overflow-y:scroll;
	transition: .2s;
}

.message-sent{
	float: right;
	text-align: right;
	width: auto;
	background: #ff4343;
	padding: 16px 20px 16px 20px;
	border-radius: 12px 12px 4px 12px;
	color: #fff;
	font-size: 14px;
	margin-bottom: 8px;
	transition: .2s;
}

.fontname{
	display: inline;
}

.fontsample{
	line-height: 1.4;
	font-size: 18px;
	display: inline-block;
}

@media (max-width:1200px){
	.card{
		width:38%;
}

@media (max-width:700px){

	.card{
		width: auto;
		margin: 8px 14px 8px 14px;
}

	.tag-picker{
		background: #2B2743;
		padding: 20px 16px 20px 16px;
	}

	.boldtext{
		padding-top: 20px;
		padding-bottom: 0px;
		padding-left: 20px;
	}

	.logo{
		display: block;
		margin-left: 14px;
}

.navigation{
	margin-right: 20px;
}

.navigation-element{
	font-size: 14px;
}
	.suggestions{
		max-width: 100%;
		display: inline-block;
		padding: 0;
	}

	.results{
		margin: 16px 4px 16px 4px;
	}

}
